.header {
    background-color: #3f51b5;
    color: #fff;
}

.header h1 {
    font: 400 24px/32px Roboto, Helvetica Neue, sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
}

.create-btn button {
    margin-right: 3em !important;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

/* .profile-card-first {
    margin-left: 3em !important;
}

.profile-card-last {
    margin-right: 3em !important;
} */

table tr th {
    font-size: 14px !important;
    font-weight: bold !important;
    color: #696969 !important;
}

table tr td {
    font-size: 14px !important;
    color: #696969 !important;
}

/* employee task component styles */
mat-card-title {
    height: 100% !important;
}

mat-card-subtitle {
    display: flex !important;
    justify-content: center !important;
    font-size: 14px !important;
    font-weight: bold !important;
    color: #0000008a !important;
    margin-bottom: 0 !important;
    margin-top: -25px !important;
}

.mat-card-image {
    padding: 0px 15px 0px 15px !important;
    height: 30vh;
}

mat-card-actions {
    text-align: right !important;
}

mat-card-actions button {
    margin: 0 !important;
}

.cdk-overlay-pane.my-dialog {
    position: relative !important;
}

.close.mat-button {
    position: none;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
    font-size: 20px;
    color: #292921;
    font-weight: bold;
}

.mat-dialog-content {
    margin: 0 !important;
    /* padding: 0 !important; */
    height: 100% auto !important;
    max-height: 75vh !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.mat-form-field {
    display: block !important;
}

.mat-dialog-actions {
    justify-content: end !important;
}

.mat-dialog-title {
    margin: 0 20px 20px !important;
}

.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
    width: auto !important;
}

.example-card {
    height: 100% !important;
    display: grid;
    justify-content: center;
}
/* end */